apache-airflow-providers-amazon>=9.3.0
cryptography>=42.0.0
# To use SQS as a broker in Celery, you need to install pycurl.
# https://github.com/saleor/saleor/issues/8804
pycurl
psycopg2-binary>=2.9.10
apache-airflow-providers-celery>=3.9.0
