prefix="${PREFIX}"
aws_region="${AWS_REGION}"
vpc_id="${VPC_ID}"
state_backetname="${STATE_BUCKET_NAME}"
private_subnets_tagname="${PRIVATE_SUBNETS_TAGNAME}"
public_subnets_tagname="${PUBLIC_SUBNETS_TAGNAME}"

permission_boundaries_arn="${IAM_ROLE_PERMISSIONS_BOUNDARY:-null}"
# Generate via the following
# python3 -m pip install cryptography
# python3 -c 'from cryptography.fernet import Fernet; print(Fernet.generate_key())'
fernet_key = "${AIRFLOW_FERNET_KEY}"

airflow_db = {
  db_name  = "${AIRFLOW_DB_NAME}"
  username = "${AIRFLOW_DB_USERNAME}"
  password = "${AIRFLOW_DB_PASSWORD}"
  port     = ${AIRFLOW_DB_PORT:-5432}
}
